<h4 appOtradirectiva trackingTag="titulo-destinos">Destinos de viaje:</h4>
<ul class="card-list">
    <li *ngFor="let travelDestination of getAll()">
        <app-travel-destination-details [travelDestination]="travelDestination">
        </app-travel-destination-details>
    </li>
</ul>