<div [id]="travelDestination.name" class="card" [@isFavorite]="isFavorite()? 'setFavoriteTrue':'setFavoriteFalse'">
    <p appOtradirectiva trackingTag="card-destino nombre-destino">{{travelDestination.name}}</p>
    <button appOtradirectiva [trackingTag]="travelDestination.name" type="button" (click)="select()">Favorito</button>
</div>


