<form>
    <div class="row">
        <input appOtradirectiva trackingTag="formulario-nuevo-destino input-nuevo-destino" #name id="inputName" type="text" placeholder="Nuevo destino de viaje">
        <button appOtradirectiva trackingTag="formulario-nuevo-destino boton-agregar-destino" type="button" (click)="add(name.value)">Guardar</button>
    </div>
    <div class="row">
        <small appOtradirectiva trackingTag="formulario-nuevo-destino mensaje-error" class="errorMsg" *ngIf="!validRequired">Invalid input.</small>
    </div>
</form>