<div class="navbar">
    <h3><a routerLink="home">Wishlist</a></h3>
    <ul class="menu">
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="manage">Manage </a><sup>(*protegido)</sup></li>
        <li><a routerLink="mapa">Mapa</a></li>
    </ul>
</div>
<hr>
<div class="main">
     <router-outlet></router-outlet>
</div>
<app-tracking-display></app-tracking-display>
