<form *ngIf="!isLogged()">
    <label for="inputUsername"> Usuario: </label>
    <input #username id="inputUsername" type="text" placeholder="user">
    <label for="inputPassword"> Contrasena: </label>
    <input #password id="inputPassword" type="password" placeholder="pass">
    <button type="button" (click)="login(username.value, password.value)">Log in</button>
    <div class="row">
        <small *ngIf="badCredentials" class="errorMsg">usuario o contrasena incorrecto.</small>
    </div>
</form>

<a href="" *ngIf="isLogged()" (click)="logout()">Log out</a>